extends layout.pug

include utils.pug

block content
    div
        div
            h3 Created By: #{post.User.username}
        h2 Title: #{post.title}
            div= post.createdAt
        div
            p= post.body
    div 
    div
        each comment in comments
            div
                div= comment.dataValues.body
                div= comment.User.username
