extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content-block
    #side-bar
      div
       h3 Search Tags
       #search-tags
         each tag in tags
             a(href=`/search?term=${tag.searchTerm}`)= tag.name

      #about
        p: strong Site by
        p Chris Regan
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-github-square")
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-linkedin")
        p Danny Chen
          a(href="https://github.com/dchen284" target="_blank"): i(class="fab fa-github-square")
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-linkedin")
        p Jacob Leonhardt
          a(href="https://github.com/jacobleonhardt" target="_blank"): i(class="fab fa-github-square")
          a(href="https://www.linkedin.com/in/jacob-leonhardt-b19067ba/" target="_blank"): i(class="fab fa-linkedin")

    #post-area
      h1='Recently Asked Meeple'
      if (posts.length)
        div(id= 'all-posts')
          each post in posts
            div(class='post-block'  id=`post-${post.id}`)
              h2= post.title
              div By: #{post.User.username}
              .post-tags
                each tag in post.Tags
                  if (post.Tags.indexOf(tag) !== post.Tags.length - 1)
                    span: a(href=`/search?term=${tag.searchTerm}` onclick=`document.location='/search?term=${tag.searchTerm}'`)= tag.name
                    | | &nbsp;
                  else
                    span: a(href=`/search?term=${tag.searchTerm}` onclick=`document.location='/search?term=${tag.searchTerm}'`)= tag.name

              p= post.body
              img(class='post-img' src=post.image_url)
              div(class='voting')
                div(id=`score-${post.id}`) Score: #{post.score}
                if user
                  if (post.alreadyVoted == -1)
                    button(class='vote-button' id=`up-${post.id}`): i(class="fas fa-thumbs-up")
                    button(class='vote-button' id=`down-${post.id}` disabled): i(class="fas fa-thumbs-down")
                  else if (post.alreadyVoted == 1)
                    button(class='vote-button' id=`up-${post.id}` disabled): i(class="fas fa-thumbs-up")
                    button(class='vote-button' id=`down-${post.id}` ): i(class="fas fa-thumbs-down")
                  else
                    button(class='vote-button' id=`up-${post.id}`): i(class="fas fa-thumbs-up")
                    button(class='vote-button' id=`down-${post.id}`): i(class="fas fa-thumbs-down")
              button(class='go-to-post' onclick=`document.location='/posts/${post.id}'`) View Comments
              if user
                if (user.username == post.User.username)
                  button(class='edit-post' onclick=`document.location='/posts/${post.id}/edit'`) Edit Your Post
                  button(class='edit-post' id=`delete-post-btn-${post.id}`) Delete Your Post

      else
        #no-content THERE DOESN'T SEEM TO BE ANYTHING HERE...

      if (page == 2)
        button(class='next/prev' onclick=`document.location='/'`) Previous Page
      else if (page > 2)
        button(class='next/prev' onclick=`document.location='/${page-1}'`) Previous Page
      button(class='next/prev' onclick=`document.location='/${page+1}'`) Next Page
