extends layout.pug
append head
    script(src="/javascripts/posts.js" type='module')
    link(rel='stylesheet' href='/stylesheets/post.css')
include utils.pug

block content
  #content-block
    div(class='post-body')
        h2(class='post-title') #{post.title}
        #creater-and-date
          h3 By: #{post.User.username} • #{post.createdAt}
        //-   #tags
        //-     each tag in post.Tags
        //-       span(class=''): a(href="#") #{tag.name}
        //-   div= post.createdAt
        #post-content
            p= post.body
            img(class='post-img' src=post.image_url)
        if user
            if (user.username == post.User.username)
                button(class='edit-post' onclick=`document.location='/posts/${post.id}/edit'`) Edit Your Post
    +validationErrorSummary(errors)
    div(class='new-comment')
        if locals.authenticated
            button(id='create-comment' class='create-comment' ) Post New Comment
        else
            button(class='create-comment' onclick="document.location='/users/sign-in'") Login in to Post a Comment
        //- form(id='comment-form' action=`/posts/${post_id}/new-comment`,method='post')
            //- input(type='hidden' name='_csrf' value=token)
        form(id='comment-form')
            label(class='hidden-input') What do you have to say?
            textarea(id='comment-textarea' class='hidden-input' name='body' placeholder="Comment...")
            div
                button(id='comment-submit' class='hidden-input') Post Comment
                //- button(id='comment-submit' type='submit' class='hidden-input') Post Comment
    div(class='comments-list')
        if comments.length > 0
          h3 Comments:
        each comment in comments
            div(class='comment-body')
                span()
                    h4= comment.User.username
                div= comment.dataValues.body
                if user
                    if (user.username == comment.User.username)
                        //- form(action=`/posts/${post_id}/comment/${comment.id}/delete` method='post')
                        //-     input(type='hidden' name='_csrf' value=token)
                        //-     button(class='delete-comment' type='submit') Delete Comment
                        form()
                            button(class='delete-comment' id=`delete-button-${comment.id}`) Delete Comment