extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content-block
    #side-bar
      div
       h3 Search Tags
       #search-tags
         each tag in tags
             a(href=`/search?term=${tag.searchTerm}`)= tag.name

      #about
        p: strong Site by
        p Chris Regan
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-github-square")
          a(href="https://www.linkedin.com/in/chris-regan-089692211/" target="_blank"): i(class="fab fa-linkedin")
        p Danny Chen
          a(href="https://github.com/dchen284" target="_blank"): i(class="fab fa-github-square")
          a(href="https://www.linkedin.com/in/danny-chen-b2963110b/" target="_blank"): i(class="fab fa-linkedin")
        p Jacob Leonhardt
          a(href="https://github.com/jacobleonhardt" target="_blank"): i(class="fab fa-github-square")
          a(href="https://www.linkedin.com/in/jacob-leonhardt-b19067ba/" target="_blank"): i(class="fab fa-linkedin")

    #post-area
      h1=`Searched: "${term}"`
      if (searchResults.length)
        div(id= 'all-posts')
          each result in searchResults
            div(class='post-block' id=`post-${result.id}`)
              h2= result.title
              div By: #{result.User.username}
              .post-tags
                each tag in result.Tags
                  if (result.Tags.indexOf(tag) !== result.Tags.length - 1)
                    span: a(href=`/search?term=${tag.searchTerm}` onclick=`document.location='/search?term=${tag.searchTerm}'`)= tag.name
                    | | &nbsp;
                  else
                    span: a(href=`/search?term=${tag.searchTerm}` onclick=`document.location='/search?term=${tag.searchTerm}'`)= tag.name

              p= result.body
              img(class='post-img' src=result.image_url)
              div(class='voting')
                  div(id=`score-${result.id}`) Score: #{result.score}
                  if user
                    if (result.alreadyVoted == -1)
                      button(class='vote-button' id=`up-${result.id}`): i(id=`upthumb-${result.id}` class="fas fa-thumbs-up")
                      button(class='vote-button' id=`down-${result.id}` disabled): i(id=`downthumb-${result.id}` class="fas fa-thumbs-down")
                    else if (result.alreadyVoted == 1)
                      button(class='vote-button' id=`up-${result.id}` disabled): i(id=`upthumb-${result.id}` class="fas fa-thumbs-up")
                      button(class='vote-button' id=`down-${result.id}` ): i(id=`downthumb-${result.id}` class="fas fa-thumbs-down")
                    else
                      button(class='vote-button' id=`up-${result.id}`): i(id=`upthumb-${result.id}` class="fas fa-thumbs-up")
                      button(class='vote-button' id=`down-${result.id}`): i(id=`downthumb-${result.id}` class="fas fa-thumbs-down")


              button(class='go-to-post' onclick=`document.location='/posts/${result.id}'`) View Comments
              if user
                if (user.username == result.User.username)
                  button(class='edit-post' onclick=`document.location='/posts/${result.id}/edit'`) Edit Your Post
                  button(class='edit-post' id=`delete-post-btn-${result.id}`) Delete Your Post
      else
        #no-content THERE DOESN'T SEEM TO BE ANYTHING HERE...

      if (page == 2)
        button(class='next/prev' onclick=`document.location='/search?term=${term}'`) Previous Page
      else if (page > 2)
        button(class='next/prev' onclick=`document.location='search/${page-1}/?term=${term}'`) Previous Page
      button(class='next/prev' onclick=`document.location='search/${page+1}/?term=${term}'`) Next Page
