extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content-block
    #side-bar
      div
       h3 Search Tags
       #search-tags
         a(href="/search?term=Strategy") Strategy
         a(href="/search?term=Review") Review
         a(href="/search?term=Rules+Clarification") Rules Clarification
         a(href="/search?term=Recommendations") Recommendations

      #about
        p: strong Site by
        p Chris Regan
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-github-square")
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-linkedin")
        p Danny Chen
          a(href="https://github.com/dchen284" target="_blank"): i(class="fab fa-github-square")
          a(href="https://github.com/TranquilTort" target="_blank"): i(class="fab fa-linkedin")
        p Jacob Leonhardt
          a(href="https://github.com/jacobleonhardt" target="_blank"): i(class="fab fa-github-square")
          a(href="https://www.linkedin.com/in/jacob-leonhardt-b19067ba/" target="_blank"): i(class="fab fa-linkedin")

    #post-area
      h1=`Searched: "${term}"`
      if (searchResults.length)
        each result in searchResults
          div(class='post-block')
            h2= result.title
            div By: #{result.User.username}
            .post-tags
              each tag in result.Tags
                if (result.Tags.indexOf(tag) !== result.Tags.length - 1)
                  span: a(href="#") #{tag.name}
                  | | &nbsp;
                else
                  span: a(href="#") #{tag.name}

            p= result.body
            img(class='post-img' src=result.image_url)
            button(class='go-to-post' onclick=`document.location='/posts/${result.id}'`) View Comments
      else
        #no-content THERE DOESN'T SEEM TO BE ANYTHING HERE...

      if (page == 2)
        button(class='next/prev' onclick=`document.location='/'`) Previous Page
      else if (page > 2)
        button(class='next/prev' onclick=`document.location='/${page-1}'`) Previous Page
      button(class='next/prev' onclick=`document.location='/${page+1}'`) Next Page
