extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content-block
    #side-bar
      div
       h3 Search Tags
       #search-tags
         a(href="#") Strategy
         a(href="#") Review
         a(href="#") Rules Clarification
         a(href="#") Recommendations

      #about
        p Site by &nbsp;
          a(href="https://github.com/TranquilTort" target="_blank") Chris Regan
          |, &nbsp;
          a(href="https://github.com/dchen284" target="_blank") Danny Chen
          | &nbsp; & &nbsp;
          a(href="https://github.com/jacobleonhardt" target="_blank") Jacob Leonhardt

    #post-area
      h1='Recently Asked Meeple'
      if (searchResults.length)
        each result in searchResults
          div(class='post-block')
            h2= post.title
            div By: #{post.User.username}
            div
              each tag in post.Tags
                span(class=''): a(href="#") #{tag.name}
            p= post.body
            img(class='post-img' src=post.image_url)
            button(class='go-to-post' onclick=`document.location='/posts/${post.id}'`) View Comments
      else
        #no-content THERE DOESN'T SEEM TO BE ANYTHING HERE...

      if (page == 2)
        button(class='next/prev' onclick=`document.location='/'`) Previous Page
      else if (page > 2)
        button(class='next/prev' onclick=`document.location='/${page-1}'`) Previous Page
      button(class='next/prev' onclick=`document.location='/${page+1}'`) Next Page
